.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  width: 100%;
  //height: 100%;
  padding-top: min(4rem, 80px);
  padding-bottom: min(8rem, 144px);
  position: relative;
}
