.main {
  padding-top: min(4rem, 80px);
  display: flex;
  gap: min(3rem, 64px);
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  gap: min(3rem, 64px);
}
.section {
  display: flex;
  flex-direction: column;
  gap: min(2rem, 48px);
}
.aboutCreator {
  display: flex;
  gap: min(2rem, 48px);
}
.imagePlaceholder {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  background: #d9d9d9;
}
.chaptersTitle {
  display: flex;
  flex-direction: column;
  gap: min(0.5rem, 12px);
}
.chaptersList {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: min(2rem, 48px);
  list-style-type: none;
}
.chapter {
  display: flex;
  flex-direction: column;
  gap: min(0.5rem, 12px);
}

@media (max-width: 48rem) {
  .main,
  .aboutCreator {
    flex-direction: column;
  }
  .imagePlaceholder {
    width: 288px;
    height: 288px;
  }
}
