.main {
  display: flex;
  flex-direction: column;
  gap: min(1.5rem, 32px);
}
.controllers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: min(1.5rem, 32px);
  flex-wrap: wrap;
}
.topListbox {
  margin-left: auto;
}
.bottomControllers {
  width: 100%;
  display: flex;
  align-items: center;
  gap: min(2rem, 48px);
}
.button {
  padding: 0.25rem 0.5rem;
  display: flex;
  gap: clamp(0.25rem, -0.1944rem + 0.9259vw, 0.5rem);
  align-items: center;
  font-size: clamp(1rem, 0.1111rem + 1.8519vw, 1.5rem);
  white-space: nowrap;
  outline: 1px solid var(--text-color);
  opacity: 0.8;
}
.button:hover {
  opacity: 1;
  background-color: var(--text-color-transparent);
}
.button:focus {
  opacity: 1;
}
.buttonIcon {
  width: clamp(1.125rem, 0.0139rem + 2.3148vw, 1.75rem);
  transform: rotate(-90deg);
}
.bottomListbox {
  margin-left: auto;
}
@media (max-width: 48rem) {
  .main {
    gap: min(0.5rem, 12px);
  }
  .controllers {
    width: 100%;
    gap: 0.5rem;
  }
  .topArrows {
    width: 100%;
    justify-content: center;
  }
  .bottomControllers {
    gap: min(1rem, 18px);
    flex-wrap: wrap;
  }
  .button {
    padding: 0.5rem 0.75rem;
    margin-left: auto;
    order: 3;
    opacity: 1;
  }
  .buttonIcon {
    stroke-width: 1px;
  }
  .topListbox {
    margin-left: 0;
  }
  .bottomListbox {
    margin-left: 0;
    order: 2;
  }
  .bottomArrows {
    width: 100%;
    justify-content: center;
    order: 1;
  }
}
