.main {
  padding-top: min(4rem, 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(1.5rem, 32px);
  font-size: clamp(1rem, 0.5556rem + 0.9259vw, 1.25rem);
}
.title {
  font-size: clamp(3rem, 1.2222rem + 3.7037vw, 4rem);
}
.linkContainer {
  display: flex;
  gap: 0.5rem;
}
.icon {
  width: clamp(1.125rem, 0.4583rem + 1.3889vw, 1.5rem);
}
